.slides {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 3em;
  // margin-top: 10em;

}


.welcome-slide {
  height: 100vh;
  width: 100%;
  background: url(https://s3-us-west-2.amazonaws.com/krista-anne/ghost_pool.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: .3;
  margin: 0 auto;

}

.ghosts {
  // text-transform: uppercase;
  font-size: 10em;
  color: white;
  height: 100vh;
  margin: 0 auto;


  p {
    position: fixed;
    bottom: 0;
    left: .2em;
    font-family: 'VT323', ;
    color: yellow;
    text-shadow: -10px -10px 20px black;
    opacity: 1;
}
}

.each-slide {
  display: flex;
  max-width: 50%;
  color: #555555;
  font-family: 'Karma', serif;
  font-size: 1.1em;
  margin: 1em;
}

.slide-1 {
  margin-top: 10em;
}

.slide-3 {

p{
  text-shadow: 2px 15px 8px rgba(255, 255, 177, .7);
   }
}

.left-arrow {
  position: fixed;
  bottom: 1em;
  left: 3em;
  color: rgb(148, 177, 183);
}

.right-arrow {
  position: fixed;
  bottom: 1em;
  right: 3em;
  color: rgb(148, 177, 183);
}

.super-late {
  display: block;
  color: rgb(124, 158, 165);
  font-size: 1.2em;
  font-family: 'Sacramento', cursive;
  padding: 1em;
  margin-bottom: 2em;
}


//using SLICK: //

// .slide {
//  display: flex;
// }
//
//  .each-slide {
//  height: 100vh;
//  width: 100%;
//  background-color: white;
//  color: gray;
//  font-family: 'Karma', serif;
//  font-size: 1.1em;
//  display: block;
//
// }
//
// .slide-type-center {
//   // position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }
//
// .slide-type-column {
//   // position: absolute;
//   width: 30%;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   text-align: justify;
//   line-height: 150%;
// }
//
// .text-ease-in {
//  display: none;
//  }
//



// .slick-dots {
//   bottom: 20px;
// }
//
// .slick-dots li button::before {
//   font-size: 24px;
//   content: '^'
// }
