.slides {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 3em;
  // margin-top: 10em;

}


.welcome-slide {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  // background: url(https://s3-us-west-2.amazonaws.com/krista-anne/ghost_pool.jpg) no-repeat center center fixed;
  background-color: rgb(205, 237, 132);
  background-size: cover;
  opacity: .8;
  margin: 0 auto;

}

.ghosts {
  // text-transform: uppercase;
  font-size: 10em;
  color: white;
  height: 100vh;
  margin: 0 auto;

}

.ghost-text {
  position: fixed;
  bottom: -4em;
  left: 0;
  animation:bounce 11s infinite;



  h1 {
    font-family: 'VT323', ;
    color: rgb(234, 242, 152);
    color: white;
    text-shadow: -10px -10px 20px black;
    opacity: .7;
    // line-height: 100%;
    font-size: 1em;
    margin: .3em;
}

p {
  color: white;
  font-family: sans-serif;
  font-size: .09em;
  // background-color: black;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  opacity: .7;
  text-transform: uppercase;
  margin-left: 1em;


}


}

@-webkit-keyframes bounce {
  0%       { bottom:-60px; }
  // 25% { bottom:32px; }
  50%      { bottom:60px; }
  100%     {bottom:-60px;}

}

.slide {
  margin: 1.5em;
}

.each-slide {
  display: flex;
  max-width: 50%;
  color: #555555;
  font-family: 'Karma', serif;
  font-size: 1.1em;
  // margin: 1em;
}

.slide-1 {
  margin-top: 10em;
}

.slide-3 {

p{
  text-shadow: 2px 15px 8px rgba(255, 255, 177, .7);
   }
}

.left-arrow {
  position: fixed;
  bottom: 1em;
  left: 13em;
  color: rgba(148, 177, 183, .8);
}

.right-arrow {
  position: fixed;
  bottom: 1em;
  right: 13em;
  color: rgba(148, 177, 183, .8);
}

.super-late {
  display: block;
  color: rgb(124, 158, 165);
  font-size: 2.5em;
  font-family: 'Sacramento', cursive;
  padding: 1em;
  margin-bottom: 2em;
}


//using SLICK: //

// .slide {
//  display: flex;
// }
//
//  .each-slide {
//  height: 100vh;
//  width: 100%;
//  background-color: white;
//  color: gray;
//  font-family: 'Karma', serif;
//  font-size: 1.1em;
//  display: block;
//
// }
//
// .slide-type-center {
//   // position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }
//
// .slide-type-column {
//   // position: absolute;
//   width: 30%;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   text-align: justify;
//   line-height: 150%;
// }
//
// .text-ease-in {
//  display: none;
//  }
//



// .slick-dots {
//   bottom: 20px;
// }
//
// .slick-dots li button::before {
//   font-size: 24px;
//   content: '^'
// }
